
body{
    padding: 0;
    margin: 0;
    background-color: rgb(122, 122, 122);
    color: aliceblue;
}

.project{
    background-color: black;
    text-align: center;
    margin-top: 30px;
    
}

.crud{
    margin: auto;
    text-align: center;
    background-color: rgb(218, 129, 46);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.input-group{
    display: inline;
    
}

input{
    width: 160px;
    margin-top: 10px;
    border-radius: 35px;
    height: 35px;
    border: none;
    
    
    
}

#productName{
    width: 70%;
    border-radius: 25px;
    display: block;
    margin-left: 15%;
   
    
}

button{

    width: 70%;
    border-radius: 25px;
    border: none;
    height: 40px;
    display: block;
    color: rgb(7, 7, 8);
    font-size: 25px;
    font-weight: 700;
    margin-left: 15%;
    background-color: rgb(55, 70, 202);
    margin-bottom: 10px;
   
}


#Show{

    background-color: rgb(245, 191, 43);
}

#deleted:hover{

    background-color: rgb(17, 236, 17);
    transition: 2.5s;
    color: aliceblue;
}

#deleted{
    background-color: rgb(238, 23, 23);
}



button:hover{

     background-color: rgb(33, 241, 33);
     transition: 2.5s;
     color: aliceblue;
}